
$primary: #F9F9F9;
$secondary: #181818;
$bg-shoes: #EBE9EA;

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-shoes {
  color: $bg-shoes;
}
