@import '../../../../scss/utilities/color.scss';

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container-banner {
    width: 100vw;
    height: 50vh;
}

img {
    filter: brightness(50%);
}

.main-bg {
    // background: var(--color-12) url("../../../img/dec/bottom-left.svg") no-repeat bottom 160px left 20px;
    background: #121212;
    color: white;
    box-shadow: inset 0 -100px #FFFFFF; /* inset = sombra interna */
    padding-top: 25px;
}

.main-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
}

.main-intro img {
    border-radius: 4px;
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.main-content {
    align-self: end;
    padding-bottom: 200px;
}

.main-content h1 {
    margin-bottom: 32px;
}

.main-content p {
    margin-bottom: 20px;
}
